---
const {color, title, subtitle, subtitlefooter, decoration} = Astro.props
const textColor = `text-${color}`
const textDecoration = `${decoration}`
---
<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color={color}>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class={`${textColor} pt-40 text-[40px] font-medium`}>
                {title}
            </h2>
            <p class={`${textColor} text-sm ${textDecoration}`}>
                {subtitle}
            </p>
        </header>
        
        <footer class="flex flex-col flex-grow justify-end pb-20">
                <slot name="sectionfooter"/>
                <slot name="footer"/>
                <slot name="sectionfooterInf"/>
        </footer>
    </div>
    

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <slot name="background"/>
    </div>
</section>